<connectionStrings>
  <add name="DefaultConnection"
    connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-ChiookWeb-636777d0-be06-4231-8797-29d741e65fc0;AttachDbFilename=|DataDirectory|\aspnet-ChiookWeb-636777d0-be06-4231-8797-29d741e65fc0.mdf;Integrated Security=SSPI"
    providerName="System.Data.SqlClient"/>
  <add name ="ChinookDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=Chinook; Securuty=true"
        providerName="System.Data.SqlClient"/>
</connectionStrings>